@model IEnumerable<TP_ASPNET.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<partial name="_TodoesNavPartial" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoLabels.First().Label)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model){
        string classes = "";
        if (item.Done){
            classes = "done";
        }

        <tr class="@classes">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="actions">
                @foreach(var todoList in item.TodoLabels){
                <span class="todo-label">@todoList.Label.Text</span>
                }
            </td>
            <td class="actions">
                @if (!item.Done) {
                    <a asp-action="Done" asp-route-id="@item.Id" asp-route-returnurl="List">Done</a>
                } else {
                    <a asp-action="Undo" asp-route-id="@item.Id" asp-route-returnurl="List">Undo</a>
                }
                | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>